OrderTradeEvent {
  event_type: "executionReport",
  event_time: 1626530198669,
  symbol: "ETHBTC",
  new_client_order_id: "web_e7a693acb83549729c03a03c22812123",
  side: "BUY",
  order_type: "MARKET",
  time_in_force: "GTC",
  qty: "0.00100000",
  price: "0.00000000",
  p_ignore: "",
  f_ignore: "",
  g: 0,
  c_ignore: None,
  execution_type: "NEW",
  order_status: "NEW",
  order_reject_reason: "NONE",
  order_id: 2025225756,
  qty_last_filled_trade: "0.00000000",
  accumulated_qty_filled_trades: "0.00000000",
  price_last_filled_trade: "0.00000000",
  commission: "0",
  asset_commisioned: None,
  trade_order_time: 1626530198669,
  trade_id: -1,
  i_ignore: 0,
  w: false,
  is_buyer_maker: false,
  m_ignore: false
}
OrderTradeEvent {
  event_type: "executionReport",
  event_time: 1626530198669,
  symbol: "ETHBTC",
  new_client_order_id: "web_e7a693acb83549729c03a03c22812123",
  side: "BUY",
  order_type: "MARKET",
  time_in_force: "GTC",
  qty: "0.00100000",
  price: "0.00000000",
  p_ignore: "",
  f_ignore: "",
  g: 0,
  c_ignore: None,
  execution_type: "TRADE",
  order_status: "FILLED",
  order_reject_reason: "NONE",
  order_id: 2025225756,
  qty_last_filled_trade: "0.00100000",
  accumulated_qty_filled_trades: "0.00100000",
  price_last_filled_trade: "0.05956800",
  commission: "0.00000100",
  asset_commisioned: None,
  trade_order_time: 1626530198669,
  trade_id: 283348665,
  i_ignore: 0,
  w: false,
  is_buyer_maker: false,
  m_ignore: false
}